@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: #242424;
}

.backdrop-blur {
  backdrop-filter: blur(10px);
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #ff6800;
}
